<header id="header" class="container clearfix">
	<a href="/" id="logo">
    <%= image_tag 'logo.png', :alt => 'Zenhacks Logo' %>
	</a>
	<nav id="main-nav">
		<ul>
      <% data.nav.each do |page| %>
        <li>
        <a href="<%= page['path'] %>" data-description="<%= page['description'] %>"><%= page['name'] %></a>
        <% if page['sub_pages'] %>
          <ul>
            <% page['sub_pages'].each do |page| %>
            <li>
              <a href="<%= page['path'] %>" data-description="<%= page['description'] %>"><%= page['name'] %></a>
              <% if page['sub_pages'] %>
                <ul>
                  <% page['sub_pages'].each do |page| %>
                  <li>
                    <a href="<%= page['path'] %>" data-description="<%= page['description'] %>"><%= page['name'] %></a>
                  </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
		</ul>
	</nav><!-- end #main-nav -->
</header><!-- end #header -->
