<section id="content" class="container clearfix">

	<header class="page-header">
	
		<h1 class="page-title">Welcome to Easymoo Blog</h1>
		
	</header><!-- end .page-header -->
	
	<section id="main">

    <% data.blog.articles[0...4].each_with_index do |article, i| %>
      <% puts article.inspect %>
		<article class="entry clearfix">

			<div class="entry-body">

				<a href="<%= article.url %>">
          <h1 class="title"><%= article.title %></h1>
				</a>

        <p><%= article.summary %></p>
				
			</div><!-- end .entry-body -->

			<div class="entry-meta">

				<ul>
          <li><a href="<%= article.url.sub('.html', '') %>"><span class="post-format link">Permalink</span></a></li>
					<li><span class="title">Posted:</span> <a href="#"><%= article.date.strftime('%b %e') %></a></li>
          <li><span class="title">Tags:</span> <%= article.tags %></li>
				</ul>
				
			</div><!-- end .entry-meta -->
			
		</article><!-- end .entry -->
    <% end %>

  </section><!-- end #main -->
</section><!-- end #content -->
<%= partial 'partials/sidebar' %>	
