---
title: Easymoo Features
---

<hgroup>
<h1 class="feature align-center">稳定 高效 易用</h1>
<h3 class="desc align-center">您最好的餐厅排队解决方案</h3>
<hgroup>

	<section id="features-slider" class="ss-slider">
	
		<article class="slide">
		
			<img src="img/imac.png" alt="" class="slide-bg-image" />
			
			<div class="slide-button">
				<span class="dropcap">1</span>
				<h5>高效</h5>
				<span class="description">省时省力，轻松搞定</span>
			</div>
		
			<div class="slide-content">
        <h2>高效</h2>	
        <p>突破原有传统人工排队叫号，实现智能化客流疏导，更能实现顾客的远程领号，一个系统，两个客户端，轻松、完美解决您餐厅的排队问题。</p>
			</div>
			
		</article><!-- end .slide (Responsive Layout) -->
	
		<article class="slide">
		
			<img src="img/mobile.png" alt="" class="slide-bg-image" />
		
			<div class="slide-button">		
				<span class="dropcap">2</span>
				<h5>精准</h5>
				<span class="description">模型分析，分类推送</span>
			</div>
			
			<div class="slide-content">
				<h2>精准</h2>
				<p>根据顾客的消费情况，建立相应的顾客模型，定向、分类推送您餐厅的新品、优惠信息，解决您的营销、宣传问题，培养您餐厅顾客的忠诚度。</p>
			</div>
			
		</article><!-- end .slide (HTML5 / CSS3) -->
	
		<article class="slide">
		
			<img src="img/ipad.png" alt="" class="slide-bg-image" />
		
			<div class="slide-button">
				<span class="dropcap">3</span>
				<h5>专业</h5>
				<span class="description">精英团队，极致追求</span>
			</div>
			
			<div class="slide-content">
				<h2>专业</h2>
				<p>我们团队成员来自于国内顶尖学校，技术成员更是有着丰富系统研发经验，我们不断追求更加完美而又简单的软件产品，用我们的专业性服务每一个合作商家。</p>
			</div>
			
		</article><!-- end .slide (Easily Customisable) -->
	</section><!-- end #features-slider -->
  <section id="feature-lists" class="clearfix">
    <ul class="features">
    <% data.feature_cn.each do |feature| %>
      <li>
        <a href="#<%= feature['class-name'] %>">
          <span class="featureicon <%= feature['class-name'] %>"><span></span></span>
          <span class="feature"> <%= feature['name'] %></span>
        </a>
      </li>
    <% end %>
    </ul>
  </section><!-- end #feature-lists -->

  <section id="feature-details">
    <% data.feature_cn.each_with_index do |feature, index| %>
      <section id="<%= feature['class-name'] %>">
        <div class="content">
          <div class="title">
            <span class="featureicon"></span>
            <hgroup>
            <h2 class="value"><%= feature['title']%></h2>
            <%# <h3 class="feature">iPad, iPhone, &amp; iPod Touch</h3> %>
            </hgroup>
          </div>
          <ul>
          <% feature['details'].each do |detail| %>
            <li><%= detail %></li>
          <% end %>
          </ul>
        </div>
      </section>	
    <% end %>
  </section><!-- end #feature-details -->
