<%= partial "partials/html_head" %>
<%= partial "partials/header" %>
<section id="content" class="container clearfix">
  <%= yield %>
</section><!-- end #content -->
<%= partial "partials/footer" %>
<%= partial "partials/html_foot" %>
